body {
    background-color: #4d4d4d;
    color: #1f1f1f;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    animation: pulse 2s infinite;
}

.github-btn {
    display: block;
    font-size: 1.5rem;
    border: 1px;
    padding: 10px;
    background-color: #373737;
    margin: auto;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}

.github-btn:hover {
    background-color: #292929;
}

@keyframes pulse {

    0%,
    100% {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1);
    }
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 50px;
}

.button {
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;

}

.button:hover {
    transform: scale(1.1);
}

#successBtn {
    background-color: lightgreen;
}

#dangerBtn {
    background-color: #e74c3c;
    color: white;
}

#infoBtn {
    background-color: lightblue;
}

#warningBtn {
    background-color: #f4d03f;
}

.browser_dot {
    height: 14px;
    width: 14px;
    background-color: #494949;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.browser_container {
    border: 1px solid #696969;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* width: 400px; */
    box-sizing: border-box;
}

.browser_top {
    padding: 20px;
    background: #222222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: relative;
}

.browser_top_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999999;
    margin: 0px;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.browser_content {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: #e7e7e7;
    background: #222222;
    font-family: Consolas, 'Courier New', monospace;
}

.browser_content p {
    line-height: 24px;
    font-size: 1.3rem;
    margin: 0;
}

.browser_function_color {
    color: #73dea5;
}

.browser_value_color {
    color: #d9ce6f;
}

.browser_symbol_color {
    color: #ff669c;
}

.browser_inline::before{
    content: '\00a0';
    margin-right: 30px;
}

.floating-image {
    width: 300px;
    /* height: auto; */
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.browser_simple {
    width: 100%;
}

.browser_advance {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .browser_simple {
        width: 300px;
        margin: auto;
    }

    .browser_advance {
        width: 650px;
        margin: auto;
    }
    
}